extends layout
include mixins/pagination
block content
	h1= Search
	include search_fields
	.row
		.col-sm-12
			if searchResult && searchResult.count
				+pagination(1, searchResult.page_count, 7, searchResult.page, base)
	.row
		.col-sm-9
			if searchResult && searchResult.count
				p Search results: #{ searchResult.count }
					table.table.table-bordered.table-striped
						tr
							th Filename
							th Type
							th Size
							th Title
							th Company
							th Author
							th Last Modified By
							th Create Date
							th Modify Date
							th Preview
						each f in searchResult.data
							tr
								td
									a(href="/document/" + f._id)= f.basename
								td= f.raw.FileType
								td= f.raw.FileSize
								td= f.raw.Title
								td= f.raw.Company
								td= f.raw.Author
								td= f.raw.LastModifiedBy
								td= f.raw.CreateDate
								td= f.raw.ModifyDate
								if f.body && f.body.trim().length
									td= f.body.trim().substr(0, 30) + "..."
								else
									td
			else
				h4 No results
	.row
		.col-sm-12
			if searchResult && searchResult.count
				+pagination(1, searchResult.page_count, 7, searchResult.page, base)

